git+https://github.com/openstack/tripleo-quickstart-extras/#egg=tripleo-quickstart-extra
git+https://github.com/leifmadsen/tripleo-quickstart-add-host-builder/#egg=tripleo-quickstart-add-host-builder
